<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="raspi_camera" params="name:='' connected_to:='' *origin">

    <xacro:unless value="${connected_to == ''}">
      <joint name="${name}_joint" type="fixed">
        <parent link="${connected_to}"/>
        <child link="${name}"/>
        <xacro:insert_block name="origin"/>
      </joint>
    </xacro:unless>

    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${-pi/2}" />
        <geometry>
          <mesh filename="package://magni_description/meshes/sensors/raspi_camera.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
        <geometry>
          <box size="0.03 0.026 0.016"/>
        </geometry>
      </collision>
    </link>

    <!-- Additional link for camera sensor -->
    <link name="${name}_sensor"/>
    <joint name="${name}_sensor_joint" type="fixed">
      <parent link="${name}"/>
      <child link="${name}_sensor"/>
      <origin xyz="0.005 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
    </joint>

    <!-- Gazebo sensor plugin. Gazebo sensor is attached to camera link (${name}) but publishes its messages to ${name}_sensor frame. -->
    <gazebo reference="${name}">
      <sensor type="camera" name="camera1">
        <visualize>false</visualize>
        <update_rate>30.0</update_rate>
        <camera name="raspi_camera">
          <horizontal_fov>1.086</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
        </camera>
        <!-- Gazebo-ROS interface plugin -->
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName></cameraName>
          <imageTopicName>${name}_node/image</imageTopicName>
          <cameraInfoTopicName>${name}_node/camera_info</cameraInfoTopicName>
          <frameName>${name}_sensor</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>



  </xacro:macro>

</robot>
