build/
install/
log/
COLCON_IGNORE

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv
venv/

.vscode/
.idea/
*.swp
.DS_Store

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.deb
*.snap

/create_distilled_version.sh 

/ezmap_pro
