<launch>
  <arg name="tower_installed" default="false"/>
  <arg name="shell_installed" default="false"/>
  <arg name="sonars_installed" default="true"/>
  <arg name="camera_extrinsics_file" default=""/>
  <arg name="lidar_extrinsics_file" default=""/>

  <param name="robot_description" 
      command="$(find xacro)/xacro --inorder
        '$(find magni_description)/urdf/magni.urdf.xacro' 
        tower_installed:=$(arg tower_installed)
        shell_installed:=$(arg shell_installed)
        sonars_installed:=$(arg sonars_installed)
        lidar_extrinsics_file:=$(arg lidar_extrinsics_file)
        camera_extrinsics_file:=$(arg camera_extrinsics_file)
        "
  />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- if tower is installed, enable laser filters node in order the robot to not detect itself with lidars -->
  <group if="$(arg tower_installed)">
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
      <param name="target_frame" value="laser" />
      <rosparam command="load" file="$(find magni_description)/config/laser_filter_chain.yaml"/>
    </node>
  </group>
  
</launch>