<launch>
  <arg name="sonars_installed" default="true"/>
  <arg name="camera_extrinsics_file" default=""/>
  <arg name="lidar_extrinsics_file" default=""/>

  <param name="robot_description" 
      command="$(find xacro)/xacro --inorder
        '$(find magni_description)/urdf/magni.urdf.xacro' 
        sonars_installed:=$(arg sonars_installed)
        lidar_extrinsics_file:=$(arg lidar_extrinsics_file)
        camera_extrinsics_file:=$(arg camera_extrinsics_file)
        "
  />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
