<!--
   Run the fiducial follow demo

   Expects the magni_bringup base.launch to already be running.
-->
<launch>
    <arg name="fiducial_len" default="0.14"/>
    <arg name="target_fiducial" default="fid49"/>

    <!-- Run the Pi Camera at low resolution -->
    <include file="$(find raspicam_node)/launch/camerav2_410x308_30fps.launch" />

    <!-- We want aruco detect to give us the 6DOF pose,
    not just the pixel coordinates of the vertices -->
    <arg name="do_pose_estimation" default="true"/>

    <!-- Run aruco_detect with special parameters to optimize for speed -->
    <node pkg="aruco_detect" name="aruco_detect"
        type="aruco_detect" output="screen" respawn="false">
        <param name="image_transport" value="compressed"/>
        <param name="publish_images" value="true" />
        <param name="fiducial_len" value="$(arg fiducial_len)"/>
        <param name="do_pose_estimation" value="$(arg do_pose_estimation)"/>
        <param name="adaptiveThreshWinSizeStep" value="8" />
        <param name="adaptiveThreshWinSizeMin" value="10" />
        <param name="adaptiveThreshWinSizeMax" value="50" />
        <param name="doCornerRefinement" value="false" />
        <remap from="/camera/compressed"
            to="/raspicam_node/image/compressed"/>
        <remap from="/camera_info" to="/raspicam_node/camera_info"/>
    </node>

    <!-- Launch the actual follow node -->
    <node name="fiducial_follow" pkg="fiducial_follow" type="follow.py" output="screen">
        <param name="target_fiducial" value="$(arg target_fiducial)"/>
    </node>
</launch>
