<!--
   Run the fiducial follow demo
-->
<launch>
 <arg name="fiducial_len" default="0.05"/>
 <arg name="target_fiducial" default="fid49"/>

  <!-- camera -->
  <include file="$(find raspicam_node)/launch/camerav2_1280x960_10fps.launch" />

  <!-- Fiducial detection -->
  <include file="$(find aruco_detect)/launch/aruco_detect.launch">
    <arg name="camera" value="/raspicam_node"/>
    <arg name="image" value="image"/>
    <arg name="transport" value="compressed"/>
    <arg name="fiducial_len" value="$(arg fiducial_len)" />
  </include>
  
  <!-- Follow -->
  <node name="fiducial_follow" pkg="fiducial_follow" type="follow.py" output="screen">
    <param name="target_fiducial" value="$(arg target_fiducial)"/>
  </node>
</launch>
