<launch>
    <arg name="port" default="9090" />
    <arg name="address" default="localhost" />
    <param name="enable_statistics" type="bool" value="true"/>

    <group>
        <node name="rosapi" pkg="rosapi" type="rosapi_node" respawn="true">
            <param name="topics_glob" value="[*]" />
            <param name="services_glob" value="[*]" />
            <param name="params_glob" value="[*]" />
        </node>
    </group>

    <group>
        <node name="roshub_manager" pkg="roshub_manager" type="manager" output="screen"/>
    </group>
</launch>
