<!-- 
    This launch file brings up a simple navigation system using fiducials [1]
    and move_basic [2].

    [1] http://wiki.ros.org/fiducials
    [2] http://wiki.ros.org/move_basic
-->
<launch>
    <arg name="fiducial_len" default="0.140"/>
    <arg name="read_only_map" default="false"/>
    <arg name="navigate_flat" default="false"/>
    <arg name="fiducials_flat" default="false"/>
    <arg name="verbose_info" default="false"/>
    <!-- 
        This parameter is used to specify what level of capabilites
        the robot should have after this launch file.

        Possible values are 'core', 'teleop', and 'navigation'

        Since this launch brings up enough to do navigation, 
        we set it to 'navigation'.
    -->
    <param name="ubiquity_robot_mode" type="string" value="navigation"/> 

    <include file="$(find magni_nav)/launch/move_basic.launch" />
    <include file="$(find magni_nav)/launch/aruco.launch">
        <arg name="fiducial_len" value="$(arg fiducial_len)" />
        <arg name="read_only_map" value="$(arg read_only_map)"/>
        <arg name="navigate_flat" value="$(arg navigate_flat)"/>
        <arg name="fiducials_flat" value="$(arg fiducials_flat)"/>
        <arg name="verbose_info" value="$(arg verbose_info)"/>
    </include>
</launch>

