<launch>
  <include file="$(find magni_bringup)/launch/base.launch"/>
  <include file="$(find magni_teleop)/launch/logitech.launch"/>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
<!-- Parameters for SSL support
    <arg name="ssl" value="true" />
    <arg name="certfile" value="/etc/letsencrypt/live/robot.ubiquityrobotics.com/fullchain.pem" />
    <arg name="keyfile" value="/etc/letsencrypt/live/robot.ubiquityrobotics.com/privkey.pem" />
-->  
  </include>

  <node name="tf2_web_republisher" type="tf2_web_republisher" pkg="tf2_web_republisher"/>
  <include file="$(find magni_nav)/launch/move_basic.launch" />
  <include file="$(find magni_nav)/launch/aruco.launch" />
</launch>

