<!-- 
    This is the launch file that is launched on boot of the Magni.

    It brings up the nodes needed for moving the robot around by joystick
    or Robot Commander.
-->
<launch>

    <node name="move_basic" pkg="move_basic" type="move_basic" output="screen">

	<remap from="/scan" to="/fuckoffff"/>
    </node>
</launch>
