<!-- 
    This is the launch file that is launched on boot of the Magni.

    It brings up the nodes needed for moving the robot around by joystick
    or Robot Commander.
-->
<launch>

    <param name="ubiquity_robot_mode" type="string" value="teleop"/>

    <node name="magni_launch_core" pkg="magni_bringup" type="launch_core.py" output="screen"/>
    <include file="$(find magni_teleop)/launch/logitech.launch" />
    <include file="$(find magni_teleop)/launch/rosbridge.launch" />
	
</launch>
