<!-- 
    "Core" launch file for magni. This brings up just what is needed
    for the motor controller and the URDF.
-->
<launch>
    <!-- 
        This parameter is used to specify what level of capabilites
        the robot should have after this launch file.

        Possible values are 'core', 'teleop', and 'navigation'

        Since this launch only brings up the very basics needed to 
        communicate with the Magni motor controller, it is set to 'core'.
    -->
    <param name="ubiquity_robot_mode" type="string" value="core"/>

    <!-- 
        This parameter tells rospy and roscpp to collect statistics
        data on ROS conections.

        More here http://wiki.ros.org/Topics#Topic_statistics 

        This is needed for roshub to function properly.
    -->
    <param name="enable_statistics" type="bool" value="true"/>

    <!-- 
        This parameter specifies the mounting location
        of the raspberry pi. This can be set to 'forward'
        or 'upward'
    -->
    <arg name="raspicam_mount" default="forward"/>
    <!-- 
        This parameter specifies whether the sonars are
        installed or not.

        This can be true or false
    -->
    <arg name="sonars_installed" default="false"/>
    <!-- 
        This parameter specifies whether the oled display is
        installed or not.

        This can be true or false
    -->
    <arg name="oled_display" default="false"/>

    <!--
    	This parameter specifices the location of the extrinsics
	calibration for the camera (if it exists).
    -->
    <arg name="camera_extrinsics_file" default="-"/>

    <arg name="controller_board_version" default="0"/>
    <arg name="controller_serial_port" default="/dev/ttyAMA0"/>
    <arg name="controller_serial_baud" default="38400"/>
    
    <!-- PID Params -->
    <arg name="controller_pid_proportional" default="5000"/>
    <arg name="controller_pid_integral" default="7"/>
    <arg name="controller_pid_derivative" default="-110"/>
    <arg name="controller_pid_denominator" default="1000"/>
    <arg name="controller_pid_moving_buffer_size" default="70"/>
    <arg name="controller_pid_velocity" default="1500"/>

    <!-- Launch the URDF for magni -->
    <include file="$(find magni_description)/launch/description.launch">
        <arg name="raspicam_mount" value="$(arg raspicam_mount)"/>
        <arg name="sonars_installed" value="$(arg sonars_installed)"/>
        <arg name="camera_extrinsics_file" value="$(arg camera_extrinsics_file)"/>
    </include>

    <group if="$(arg sonars_installed)">
        <node pkg="pi_sonar" type="pi_sonar" name="pi_sonar"/>
    </group>

    <group if="$(arg oled_display)">
        <node pkg="oled_display_node" type="oled_display_node" name="oled_display"/>
    </group>

    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostics_agg">
        <!-- Load the file you made above -->
        <rosparam command="load" file="$(find magni_bringup)/param/diagnostics_agg.yaml"/>
    </node>

    <!-- Load the parameters used by the following nodes -->
    <rosparam command="load" file="$(find magni_bringup)/param/base.yaml" />
    
    <!-- If a board version was passed in, use it -->
    <group if="$(eval controller_board_version != 0)">
	<param name="/ubiquity_motor/controller_board_version" value="$(arg controller_board_version)"/>
    </group>

    <param name="/ubiquity_motor/serial_port" value="$(arg controller_serial_port)"/>
    <param name="/ubiquity_motor/serial_baud" value="$(arg controller_serial_baud)"/>
    
    <!-- PID Params -->
    <param name="/ubiquity_motor/pid_proportional" value="$(arg controller_pid_proportional)"/>
    <param name="/ubiquity_motor/pid_integral" value="$(arg controller_pid_integral)"/>
    <param name="/ubiquity_motor/pid_derivative" value="$(arg controller_pid_derivative)"/>
    <param name="/ubiquity_motor/pid_denominator" value="$(arg controller_pid_denominator)"/>
    <param name="/ubiquity_motor/pid_moving_buffer_size" value="$(arg controller_pid_moving_buffer_size)"/>
    <param name="/ubiquity_motor/pid_velocity" value="$(arg controller_pid_velocity)"/>
    
    <!-- Launch the roscontrol controllers needed -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="ubiquity_velocity_controller ubiquity_joint_publisher"/>
    <!-- Launch the motor node with the topic remapped to standard names -->
    <node name="motor_node" pkg="ubiquity_motor" type="motor_node">
        <remap from="/ubiquity_velocity_controller/cmd_vel" to="/cmd_vel"/>
	<remap from="/ubiquity_velocity_controller/odom" to="/odom"/>
    </node>

</launch>
