<!-- 
    "Core" launch file for magni. This brings up just what is needed
    for the motor controller and the URDF.
-->
<launch>
    <!-- 
        This parameter is used to specify what level of capabilites
        the robot should have after this launch file.

        Possible values are 'core', 'teleop', and 'navigation'

        Since this launch only brings up the very basics needed to 
        communicate with the Magni motor controller, it is set to 'core'.
    -->
    <param name="ubiquity_robot_mode" type="string" value="core"/>

    <!-- 
        This parameter tells rospy and roscpp to collect statistics
        data on ROS conections.

        More here http://wiki.ros.org/Topics#Topic_statistics 

        This is needed for roshub to function properly.
    -->
    <param name="enable_statistics" type="bool" value="true"/>

    <!-- 
        This parameter specifies the mounting location
        of the raspberry pi. This can be set to 'forward'
        or 'upward'
    -->
    <arg name="raspicam_mount" default="forward"/>
    <!-- 
        This parameter specifies wheter the sonars are
        installed or not.

        This can be true or false
    -->
    <arg name="sonars_installed" default="false"/>

    <!-- Launch the URDF for magni -->
    <include file="$(find magni_description)/launch/description.launch">
        <arg name="raspicam_mount" value="$(arg raspicam_mount)"/>
        <arg name="sonars_installed" value="$(arg sonars_installed)"/>
    </include>

    <group if="$(arg sonars_installed)">
          <node pkg="pi_sonar" type="pi_sonar" name="pi_sonar"/>
    </group>

    <!-- Load the parameters used by the following nodes -->
    <rosparam command="load" file="$(find magni_bringup)/param/base.yaml" />
    <!-- Launch the roscontrol controllers needed -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="ubiquity_velocity_controller ubiquity_joint_publisher"/>
    <!-- Launch the motor node with the topic remapped to standard names -->
    <node name="motor_node" pkg="ubiquity_motor" type="motor_node">
        <remap from="/ubiquity_velocity_controller/cmd_vel" to="/cmd_vel"/>
        <remap from="/ubiquity_velocity_controller/odom" to="/odom"/>
    </node>
</launch>
