<!--
   Run the 3d fiducial localization for a raspi
-->
<launch>
  <arg name="mapping_mode" default="false"/>

  <!-- camera -->
  <include file="$(find raspicam_node)/launch/camerav2_1280x960_10fps.launch" />
  
  <!-- Fiducial detection -->
  <include file="$(find aruco_detect)/launch/aruco_detect.launch">
    <arg name="camera" value="/raspicam_node"/>
    <arg name="image" value="image"/>
    <arg name="transport" value="compressed"/>
    
    <!-- fiducial_len -->
    <arg name="fiducial_len" value="0.140" />
  </include>

  <!-- Fiducial slam -->
  <include file="$(find fiducial_slam)/launch/fiducial_slam.launch">
    <arg name="map_frame" value="map"/>
    <arg name="odom_frame" value="odom"/>
    <arg name="base_frame" value="base_footprint"/>
    <arg name="future_date_transforms" value="0.5"/>
  </include>
</launch>
