<launch>
    <arg name="bag_file_path" value=""/>

    <param name="use_sim_time" value="true"/>

    <node pkg="rviz" type="rviz" name="magni_rviz"
          args="-d $(find magni_nav)/param/bag.rviz"/>

    <node pkg="rosbag" type="play" name="rosbag_play" output="screen"
          args="--clock $(arg bag_file_path) -s 10"/>

    <include file="$(find magni_nav)/launch/ekf.launch"/>

    <include file="$(find magni_nav)/launch/aruco.launch"/>

    <include file="$(find magni_description)/launch/description.launch"/>

    <node pkg="magni_nav" type="nullify_covariance.py" name="nullify_covariance" output="screen"/>

    <node pkg="magni_nav" type="compute_std_dev.py" name="compute_std_dev" output="screen"/>
</launch>