<launch>

  <arg name="map_file" default="$(find magni_nav)/maps/blank_map.yaml"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0.0 0 0  0 0 0  /map /odom 100" />




<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find magni_nav)/param/costmap_common_param.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find magni_nav)/param/costmap_common_param.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find magni_nav)/param/local_costmap_param.yaml" command="load" />
    <rosparam file="$(find magni_nav)/param/global_costmap_param.yaml" command="load" />
    <rosparam file="$(find magni_nav)/param/base_local_planner_param.yaml" command="load" />

  </node>


</launch>

