<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="raspicam_mount" default="forward"/>
    <arg name="sonars_installed" default="true"/>
    <arg name="lidar_installed" default="false"/>

    <include file="$(find magni_description)/launch/description.launch">
        <arg name="raspicam_mount" value="$(arg raspicam_mount)" />
        <arg name="sonars_installed" value="$(arg sonars_installed)" />
	<arg name="lidar_installed" value="$(arg lidar_installed)" />
    </include>>

    <node name="magni_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model magni" />

    
   <!-- Load the parameters used by the following nodes -->
    <rosparam file="$(find magni_gazebo)/config/magni_controllers.yaml" command="load"/>
    <!-- Launch the roscontrol controllers needed -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" args="ubiquity_velocity_controller ubiquity_joint_publisher"/>

    <!-- Topic redirection for compatibility with real robot configuration (core.launch) -->
    <!-- 'topic_tools relay' is used to redirect topics, because remap doesn't work in Gazebo. -->
    <node name="cmd_vel_relay" type="relay" pkg="topic_tools" args="/cmd_vel /ubiquity_velocity_controller/cmd_vel" />
    <node name="odom_relay" type="relay" pkg="topic_tools" args="/ubiquity_velocity_controller/odom /odom" />

    <node name="sonar0_relay" type="relay" pkg="topic_tools" args="/pi_sonar/sonar_0 /sonars" />
    <node name="sonar1_relay" type="relay" pkg="topic_tools" args="/pi_sonar/sonar_1 /sonars" />
    <node name="sonar2_relay" type="relay" pkg="topic_tools" args="/pi_sonar/sonar_2 /sonars" />
    <node name="sonar3_relay" type="relay" pkg="topic_tools" args="/pi_sonar/sonar_3 /sonars" />
    <node name="sonar4_relay" type="relay" pkg="topic_tools" args="/pi_sonar/sonar_4 /sonars" />

</launch>
